<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="userName" value="administrator"/>
    <add key="password" value="888888"/>
    <add key="dataCenterId" value="5d148e1449825f"/>
    <add key="hostUrl" value="http://localhost/k3cloud/"/>
  </appSettings>
</configuration>